/* About root */
:root {
  --primary-text-color:#212121;
  --secondary-text-color:#757575;
  --accent-color:#2196F3 ;
  --main-background-color: #FFFFFF ;
  --secondary-background-color: #F5F4FA;
  --brand-color:#2F303A;
  --hero-button-color:#188CE8;
  --icon-background-color: #AFB1B8;
  --typical-margin:30px;
  --border-color: #EEEEEE;
  --button-background: #188CE8;
}

:root {
  --timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*About hidden  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* About list */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* About decorations */
.link {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu {
  position: fixed;
  background-color: aqua;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  border: none;
  width: 40px;
  height: 40px;
  top: 5%;
  bottom: 0;
  background: transparent;
  cursor: pointer;
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-color);
}

.menu-open-icon {
  position: absolute;
}

.menu-close-icon {
  position: absolute;
}

.menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: #212121;
}

.menu-link:not(:last child) {
  margin-bottom: 32px;
}

.menu-mobile-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.menu-contact-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-soc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.46;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-contact-item {
  margin-bottom: 32px;
}

.menu-contact-link {
  margin-bottom: 92px;
}

.menu-social {
  display: flex;
  justify-content: flex-start;
}

.menu-soc {
  margin-right: 10px;
}

.menu-soc:last-child {
  margin-right: 0;
}

/* About hero-button */
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-background-color);
  border-radius: 4px;
  border: none;
  margin: 0px auto;
  padding: 10px 32px;
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--hero-button-color);
}

.hero-button {
  background-color: var(--accent-color);
}

/* About logo */
.nav {
  display: flex;
}

.nav-item {
  margin-left: 50px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}

.nav-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* About contact-icons */
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-icon, .contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*Portfolio buttons */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .button-list {
    display: none;
  }
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

.portfolio-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  opacity: 1;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.portfolio-button:hover, .portfolio-button:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* About modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms var(--timing-cubic), visibility 250ms var(--timing-cubic);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--main-background-color);
  border-radius: 4px;
  transition: transform 250ms var(--timing-cubic);
  padding: 40px;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-label {
  font-family: "Roboto";
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  resize: none;
  transition: var(--border-color) 250ms var(--timing-cubic);
}

.modal-input {
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 50px;
  color: var(--brand-color);
}
.modal-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--secondary-text-color);
}

.user-answer {
  color: rgb(33, 150, 243);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: start;
  transition: var(--border-color) 250ms var(--timing-cubic);
}

.input-icon {
  position: absolute;
  top: 54%;
  left: 0;
  margin-left: 15px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--timing-cubic);
}
.input-icon .modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  resize: none;
  width: 448px;
  height: 120px;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.modal-textarea:focus {
  border-color: var(--accent-color);
}

.checkbox-input {
  background: var(--primary-text-color);
  border: 0.2px solid #FFFFFF;
  outline: none;
  margin-bottom: 30px;
}
.checkbox-input:focus {
  background: var(--accent-color);
}

.form-modal-btn {
  width: 200px;
  height: 50px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 55px;
  background: var(--button-background);
  color: var(--main-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  opacity: 1;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}

/* About header-container  */
/* About header-container  */
.header {
  border-bottom: 1px solid #ECECEC;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-list .nav-link:not(:last-child) {
  margin-right: 50px;
}

.nav-logo-accent {
  color: var(--accent-color);
}

.nav-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  opacity: 1;
  transition: opacity;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.nav-link::after:hover::after {
  opacity: 1;
}

/* About header underline */
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  text-align: center;
}
.nav-link:hover, .nav-link:focus .nav-list .nav-link.current {
  color: var(--accent-color);
}
.nav-link .nav-link {
  color: var(--primary-text-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 1;
  border-radius: 2px;
}

/* About contacts */
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
.contact-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  opacity: 1;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.contact-link:hover, .contact-link:focus {
  color: var(--accent-color);
}

.contact-mobile-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  color: var(--secondary-text-color);
  opacity: 1;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.contact-mobile-link:hover, .contact-mobile-link:focus {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-item + .contact-item {
  margin-left: 50px;
}

.contact-mobile-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* About HERO */
/* About HERO */
.hero {
  background-color: var(--brand-color);
  padding: 118px 0;
  max-width: 100%;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img17.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-title {
  text-align: center;
  margin-bottom: var(--typical-margin);
  font-family: inherit;
  font-style: normal;
  font-size: 26px;
  line-height: 1.6153846154;
  font-weight: 900;
  margin: 0px auto;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* About STUDIO-hidden  benefits1 icons*/
.hidden-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.hidden-benefits:last-child {
  margin-right: 0px;
}

.hidden-icons {
  fill: var(--primary-text-color);
}

.studio-benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .studio-benefits {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .studio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .benefits-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits-subtitle {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
@media screen and (max-width: 767px) {
  .benefits-subtitle {
    text-align: center;
  }
}

/* About Studio-img benefits 2 */
.benefits {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .benefits {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: block;
  }
}

.benefits-list {
  display: flex;
}

.benefits-img:first-child {
  margin-left: 0px;
}

.benefits-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

/* About benefits description */
.benefits-img {
  margin-left: 30px;
  width: 370px;
  height: 294px;
  position: relative;
  display: flex;
}

.benefits-description {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
  background: rgba(47, 48, 58, 0.8);
}

/* About  Studio Team*/
.benefits-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* About our company */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team-list {
  margin-bottom: 30px;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1400px) {
  .team-list {
    text-align: center;
  }
}

.company {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.card-set {
  width: 100%;
  background: var(--main-background-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .card-set {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .card-set:not(:last-child) {
    margin-bottom: 30px;
  }
}

.company-list {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.company-features {
  padding-top: 30px;
  padding-bottom: 30px;
}

.company-item {
  margin-top: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* About company-icons */
.icon-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.icon-item {
  margin-left: 10px;
}

.icon-item:first-child {
  margin-left: 0px;
}

.company-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-background-color);
  background-color: var(--main-background-color);
  opacity: 1;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.company-soc-link:hover, .company-soc-link:focus {
  background-color: var(--accent-color);
}

.card-set {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icons {
  fill: currentColor;
}

.company-soc-link:hover,
.icons .company-soc-link:focus .icons {
  color: var(--main-background-color);
}

/* About clients */
.client_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

@media screen and (max-width: 480px) {
  .client_item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client_item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client_item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
@media screen and (max-width: 767px) {
  .client_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.client_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: bolt;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .client_title {
    font-size: 36px;
    line-height: 1.16;
  }
}
@media screen and (max-width: 1400px) {
  .client_title {
    text-align: center;
  }
}

.client_soc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: var(--icon-background-color);
  opacity: 1;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.client_soc:hover, .client_soc:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client_icon {
  fill: currentColor;
}

/*Gallery cards PORTFOLIO  */
.main-content {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .main-content {
    padding: 94px 0;
  }
}

.gallery-item {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}
@media screen and (min-width: 767px) {
  .gallery-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-img {
    flex-basis: calc((100% - 60px) / 2);
  }
}

.gallery-site {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.gallery-img:nth-child(3n) {
  margin-right: 0;
}

.gallery-img:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.gallery {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.gallery-link {
  display: block;
}
.gallery-link:hover, .gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-cover-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-cover {
  position: absolute;
  top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-cubic);
}
.gallery-link:hover .gallery-cover, .gallery-link:focus .gallery-cover {
  transform: translateY(0);
}

/* About footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-color);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-link {
  margin-bottom: 60px;
}
.footer-soc-icons {
  margin-bottom: 60px;
}

.adress {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

/* About footer-logo */
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.footer-logo-accent {
  color: var(--accent-color);
}

.footer-adress {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.footer-maps {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.footer-maps:hover, .footer-maps:focus {
  color: var(--accent-color);
}

.footer-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-phone {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  opacity: 1;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.footer-phone:hover, .footer-phone:focus {
  color: var(--accent-color);
}

/* About footer icons */
.footer-icon-text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer-icon-item {
  margin-left: 10px;
}

.footer-icon-item:first-child {
  margin-left: 0px;
}

.icon-list {
  margin-top: 20px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--main-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}

.footer-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

/* About footer form */
.footer-form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 20px;
}

.footer-form {
  position: relative;
}

.footer-field {
  margin-left: auto;
}

.footer-form-icon {
  position: absolute;
  margin-left: 10px;
  fill: var(--main-background-color);
}

.footer-btn {
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.footer-input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--brand-color);
  outline: none;
  padding: 15px;
  padding-left: 16px;
  color: var(--main-background-color);
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 358px;
  }
}

.footer-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 16px;
}/*# sourceMappingURL=main.css.map */