/* About root */
:root{--primary-text-color:#212121;
    --secondary-text-color:#757575;  
  --accent-color:#2196F3 ;
  --main-background-color:  #FFFFFF ;
  --secondary-background-color: #F5F4FA;
  --brand-color:#2F303A;
  --hero-button-color:#188CE8;
  --icon-background-color: #AFB1B8;
  --typical-margin:30px;
  --border-color: #EEEEEE;
  --button-background: #188CE8;
  }
  :root {--timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);}