/* About footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-color);

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
.footer-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  

}


.footer-link {
  margin-bottom: 60px;
}
.footer-soc-icons {
  margin-bottom: 60px;
}

.adress {
  margin-top: 20px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

/* About footer-logo */
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}
.footer-logo-accent {
  color: var(--accent-color);
}

.footer-adress {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}
.footer-maps {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-phone {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  opacity: 1;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* About footer icons */

.footer-icon-text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer-icon-item {
  margin-left: 10px;
}
.footer-icon-item:first-child {
  margin-left: 0px;
}
.icon-list {
  margin-top: 20px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--main-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-cubic);
}
.footer-icon {
  fill: currentColor;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
/* About footer form */
.footer-form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 20px;
}
.footer-form {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-field {
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    
  }
}
.footer-form-icon {
  position: absolute;
  margin-left: 10px;
  fill: var(--main-background-color);
}

.footer-btn {
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.footer-input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--brand-color);
  outline: none;

  padding: 15px;
  padding-left: 16px;
  color: var(--main-background-color);
  @media screen and(min-width:480px) {
    width: 450px;
  }
}

.footer-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 16px;
}
